*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 10px;
}

.catagory{
    display: flex;
    background-size: cover;
    /*background-position: center;*/
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    margin: 10px;
    transform: translateX(-200%);
    transition: transform .5s ease-in;
}

.catagory:nth-of-type(even){
    transform: translateX(200%);
}

.catagory h2{
    text-shadow: 2px 2px rgba(0,0,0,.3);
}

.catagory.active{
    transform: translateX(0);
}